---
import type { Project } from '~/utils/content'
import ProjectCardInternal from './ProjectCardInternal'

interface Props {
  project: Project
  flipped?: boolean
}

const { project, flipped = false } = Astro.props
---

<li
  class="grid w-full max-w-[64rem] items-center rounded-3xl shadow-md
      shadow-indigo-2/25 dark:shadow-indigo-11/10
      lg:grid-cols-8 lg:grid-rows-1 lg:shadow-none"
>
  <ProjectCardInternal client:visible {project} {flipped} />
</li>
