---
import type { Project } from '~/utils/content'
import ProjectCardInternal from './ProjectCardInternal'

interface Props {
  project: Project
  flipped: boolean
  heading: number
}

const { project, flipped, heading } = Astro.props
---

<li
  class="grid w-full max-w-5xl items-center rounded-3xl
    shadow-lg shadow-indigo-925/10 dark:shadow-indigo-100/10 lg:grid-cols-8 lg:grid-rows-1 lg:shadow-none"
>
  <ProjectCardInternal client:visible {project} {flipped} {heading} />
</li>
