@use 'sass:math';
@use '@/styles/vars' as v;

.nav {
  ul {
    display: flex;
    justify-content: center;
    gap: 4rem;

    @media (max-width: v.$main-bp) {
      gap: 0;
      justify-content: space-evenly;
    }

    @media (max-width: 640px) {
      display: none;
    }

    a {
      display: block;
      line-height: 1;
      padding: math.div(v.$nav-height, 8) 1rem;
      border-radius: 0.5rem;
      transition-duration: v.$transition-duration;

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }
}

.dialogNav {
  ul {
    margin-top: 1rem;

    a {
      display: block;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      text-align: right;
    }
  }
}
