<div class="flex justify-center p-4 sm:p-8">
  <ul
    class="grid grid-cols-[repeat(2,minmax(4rem,8rem))] grid-rows-[repeat(2,minmax(4rem,8rem))] gap-4 sm:grid-cols-[repeat(4,8rem)] sm:grid-rows-[8rem] sm:gap-8"
  >
    <slot />
  </ul>
</div>
