.enter {
  animation: enterOnLoad 0.5s ease-in forwards;
}

.fromLeft {
  --enter-transform: translateX(-50px);
}

.fromTop {
  --enter-transform: translateY(-50px);
}

.fromRight {
  --enter-transform: translateX(50px);
}

.scaling {
  --enter-transform: scale(0.75);
}

@media (prefers-reduced-motion) {
  .enter {
    animation: none;
  }
}

@keyframes enterOnLoad {
  from {
    opacity: 0;
    transform: var(--enter-transform, none);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
