.sphere {
  width: var(--sphere-size);
  height: var(--sphere-size);
  background: radial-gradient(var(--indigo-1), transparent 50%);
  position: relative;
}

.point {
  position: absolute;
  width: 0;
  display: flex;
  justify-content: center;
  font-size: calc(0.064 * var(--sphere-size));
}
