---
import type { GetStaticPaths } from 'astro'
import PostList from '~/components/blog/PostList.astro'
import { getTags } from '~/content'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = (async () =>
  (await getTags()).map(id => ({ params: { id } }))) satisfies GetStaticPaths

const tag = Astro.params.id
---

<Layout name={`#${tag}`} description={`List of all posts with the #${tag} tag.`}>
  <main class="min-h-screen">
    <header class="centered-header">
      <h1 class="pb-4 text-3xl text-purple-700 sm:text-4xl dark:text-purple-300">#{tag}</h1>
    </header>
    <section class="mx-auto max-w-[calc(70ch+2rem)]">
      <PostList heading={2} filter={p => p.data.tags.includes(tag)} />
    </section>
  </main>
</Layout>
