.container {
  display: inline-block;
  transform-origin: 75% 75%;
  cursor: pointer;
}

.playing {
  animation: wave 1s ease-in-out;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(30deg);
  }
}
