---
import { routes } from '~/utils/routes'
import Layout from '~/layouts/Layout.astro'

const entries = [routes.about, routes.projects, routes.blog]
---

<Layout name="Sitemap" description="List of all pages in the Tomasz Chojnacki's website.">
  <main class="p-16 text-center">
    <h1 class="pb-8 text-4xl font-bold capitalize">Sitemap</h1>
    <nav>
      <ul>
        {
          entries.map(({ href, label }) => (
            <li>
              <a {href} class="hover:underline">
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </main>
</Layout>
