---
import Wave from '~/components/common/Wave.astro'
import SectionHeader from '~/components/common/SectionHeader.astro'
import Link from '~/components/common/Link'
---

<main class="bg-indigo-100 px-8 dark:bg-indigo-925">
  <SectionHeader text="About me" />
  <div class="flex justify-center py-8 text-neutral-800 dark:text-neutral-200">
    <ul class="ml-8 list-disc">
      <li>Software developer based in Wrocław, Poland.</li>
      <li>
        Student of Applied Computer Science at <Link
          title="Wrocław University of Science and Technology"
          href="https://pwr.edu.pl/en/"
          children="WUST"
        />.
      </li>
      <li>
        Interested in:
        <ul class="ml-8 list-disc">
          <li>full stack web development</li>
          <li>developer tooling / DX</li>
          <li>language and compiler design</li>
        </ul>
      </li>
    </ul>
  </div>
</main>
<Wave inverted />
