---
import Wave from '~/components/common/Wave.astro'

import SectionHeader from '../common/SectionHeader.astro'
---

<main class="bg-legacyindigo-11 dark:bg-legacyindigo-4 px-8">
  <SectionHeader text="About Me" />
  <div class="text-legacyslate-8 dark:text-legacyslate-11 flex justify-center py-8">
    <ul class="ml-8 list-disc">
      <li>Software developer based in Wrocław, Poland.</li>
      <li>
        Student of Applied Computer Science at{' '}
        <a
          class="text-legacyindigo-8 dark:text-legacyindigo-11 hover:underline"
          href="https://pwr.edu.pl/en/"
          target="_blank"
          rel="noreferrer"
          title="Wrocław University of Science and Technology">WUST</a
        >.
      </li>
      <li>
        Interested in:
        <ul class="ml-8 list-disc">
          <li>full stack web development</li>
          <li>developer tooling / DX</li>
          <li>language and compiler design</li>
        </ul>
      </li>
    </ul>
  </div>
</main>
<Wave inverted />
