---
import PostList from '~/components/blog/PostList.astro'
import LinkButton from '~/components/common/LinkButton'
import SectionHeader from '~/components/common/SectionHeader.astro'
---

<section>
  <SectionHeader text="Recent posts" />
  <div class="flex justify-center py-4">
    <div>
      <PostList heading={3} length={3} />
    </div>
  </div>
  <div class="flex justify-center">
    <LinkButton href="/blog">View all posts</LinkButton>
  </div>
</section>
