---
import LinkButton from '~/components/common/LinkButton'
import ProjectList from '~/components/projects/ProjectList.astro'

import SectionHeader from '../common/SectionHeader.astro'
---

<section>
  <SectionHeader text="Featured projects" />
  <ProjectList heading={3} length={3} />
  <div class="flex justify-center">
    <LinkButton href="/projects">View All Projects</LinkButton>
  </div>
</section>
