---
import LinkButton from "~/components/common/LinkButton"
import SectionHeader from "~/components/common/SectionHeader.astro"
import ProjectList from "~/components/projects/ProjectList.astro"
---

<section>
  <SectionHeader text="Featured projects" />
  <ProjectList heading={3} length={3} />
  <div class="flex justify-center">
    <LinkButton href="/projects">View all projects</LinkButton>
  </div>
</section>
