---
import Link from '~/components/common/Link'
import { getSkills } from '~/utils/content'
import Listing from '~/layouts/Listing.astro'
import { keyComparator } from '~/utils/sorting'

const skills = Object.values(await getSkills()).sort(keyComparator(s => s.name))
---

<Listing name="Skills" description="List of all skills from the Tomasz Chojnacki's projects.">
  <ul>
    {
      skills.map(s => (
        <li>
          <Link href={`/skills/${s.id}`}>{s.name}</Link>
        </li>
      ))
    }
  </ul>
</Listing>
