@use '../../vars' as v;

.card {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 0.25rem transparentize($color: v.$indigo-3, $amount: 0.9);
  background-color: v.$indigo-0;
  padding: 1em;

  grid-row: span 2;
  grid-column: span 2;

  &.minor {
    grid-row: span 1;
    grid-column: span 1;
    font-size: 0.5rem;
  }

  & h5 {
    font-size: 1.25em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
  }

  & svg {
    height: 4em;

    & path {
      fill: v.$gray-1;
    }
  }
}
