@use '../../vars' as v;

.section {
  background-color: v.$indigo-1;
  margin-top: -1px;
}

.sectionHeader {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 0;
}

.skillTypeHeader {
  font-size: 1.5rem;
  padding-left: 2rem;
  margin-top: 1rem;
}

.cardWrapper {
  display: grid;
  padding: 1rem 2rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  place-items: start stretch;

  &.small {
    font-size: 0.66rem;
  }
}
