---
import { Code } from "astro:components"

import gleam from "~/assets/langs/gleam.tmLanguage.json" with { type: "json" }

interface Props {
  code: string
  lang: string
}

const { code: rawCode, lang: rawLang } = Astro.props

const code = rawCode.replace(/(^\n+)|(\n+$)/, "")

const lang: any = (() => {
  switch (rawLang) {
    case "gleam":
      return gleam
    default:
      return rawLang
  }
})()
---

<div class="my-2 rounded-md bg-[#24292e] p-2"><Code {code} {lang} /></div>
