---
import GithubSlugger from 'github-slugger'

interface Props {
  text: string
}

const slugger = new GithubSlugger()

const { text } = Astro.props
const id = slugger.slug(text)
---

<h2 {id} class="pt-4 text-center text-3xl font-bold text-neutral-1000 dark:text-neutral-0">
  <a href={`#${id}`}>
    {text}
  </a>
</h2>
