---
import { slugify } from '~/lib/format'

interface Props {
  text: string
}

const { text } = Astro.props
const id = slugify(text)
---

<h2 {id} class="text-neutral-1000 dark:text-neutral-0 pt-4 text-center text-3xl font-bold">
  <a href={`#${id}`}>
    {text}
  </a>
</h2>
