@use '../../vars' as v;

.card {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 0.75rem;
  background-color: v.$indigo-0;
  padding: 1em;

  grid-row: span 2;
  grid-column: span 2;

  &.minor {
    grid-row: span 1;
    grid-column: span 1;
    font-size: 0.6rem;
  }

  & h5 {
    font-size: 1.25em;
    text-align: center;
    white-space: nowrap;
  }

  & svg {
    height: 4em;

    & path {
      fill: v.$gray-1;
    }
  }
}
