---
import { AstroFont } from 'astro-font'
import { SEO } from 'astro-seo'

const DEFAULT_TITLE = 'Tomasz Chojnacki'
const DEFAULT_DESCRIPTION =
  'Personal website of Tomasz Chojnacki, a software developer based in Wrocław.'

interface Props {
  name?: string
  description?: string
}

const { name, description = DEFAULT_DESCRIPTION } = Astro.props
const title = name ? `${name} | ${DEFAULT_TITLE}` : DEFAULT_TITLE
const image = new URL('/static/img/open-graph.png', Astro.site).toString()
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <SEO
      {title}
      {description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title,
          type: 'website',
          image,
        },
        optional: {
          description,
          siteName: DEFAULT_TITLE,
          locale: 'en_US',
        },
        image: {
          url: image,
          width: 1280,
          height: 720,
          alt: 'Image of the website.',
        },
      }}
      twitter={{ card: 'summary' }}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternative" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          const local = localStorage.getItem('theme')
          if (local === 'dark' || local === 'light') {
            return local
          }
        }
        return 'dark'
      })()

      if (theme === 'dark') {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    <style is:global>
      * {
        scroll-behavior: smooth;
      }
    </style>
    <AstroFont
      config={[
        {
          src: [],
          name: "Inter",
          preload: false,
          display: "swap",
          fallback: "sans-serif",
          selector: ".font-inter",
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Inter:wght@100..900',
        },
      ]}
    />
  </head>
  <body
    class="overflow-x-hidden bg-neudigo-50 text-neutral-900 dark:bg-neudigo-950 dark:text-neutral-100 font-inter"
  >
    <slot />
  </body>
</html>
