---
import Layout from './Layout.astro'

interface Props {
  code: number
}

const { code } = Astro.props
---

<Layout name={code.toString()}>
  <main class="mt-[calc(-1*var(--spacing-nav-height))] grid min-h-screen place-items-center p-4">
    <header class="motion-safe:animate-enteronload onenter-scaling text-center">
      <h1
        class="motion-safe:animate-errshake mb-4 text-6xl font-bold text-indigo-700 dark:text-indigo-300"
      >
        {code}
      </h1>
      <h2 class="text-3xl"><slot /></h2>
    </header>
  </main>
</Layout>
