$indigo-0: #15192d;
$indigo-1: #1c274f;
$indigo-2: #3e63dd;
$indigo-3: #849dff;
$gray-0: #9ba1a6;
$gray-1: #ecedee;
$gray-2: #ffffff;

$main-bp: 1000px;

$transition-duration: 0.25s;

$nav-height: 4rem;
