---
import * as ICONS from 'simple-icons'

import SimpleIconSvg from '~/components/common/SimpleIconSvg'
import Wave from '~/components/common/Wave.astro'
import { getSkills, getSocials, techSphereSkillIds } from '~/utils/content'

import TechSphere from './TechSphere'
import WavingEmoji from './WavingEmoji'

const skills = await getSkills()
const skillNames = techSphereSkillIds.flatMap(id => id in skills ? [skills[id]!.name] : [])
const socials = await getSocials()
---

<header
  class="relative grid min-h-[calc(min(100vh,64rem)-theme(spacing.nav-height))] grid-cols-1
  grid-rows-[repeat(3,auto)] place-items-center grid-areas-landing-mobile
  lg:grid-cols-[minmax(0,1fr)_repeat(2,minmax(0,48rem))_minmax(0,1fr)] lg:grid-rows-[1fr_repeat(2,10vh)]
  lg:grid-areas-landing-desktop"
>
  <section
    class="animate-enteronload place-self-center p-8 text-center grid-in-text
    onenter-fromleft motion-reduce:animate-none lg:text-left"
  >
    <p class="text-2xl font-bold">
      Hello&nbsp;<WavingEmoji client:idle />, my name is
    </p>
    <h1 class="text-5xl font-bold leading-tight text-indigo-700 dark:text-indigo-300">
      Tomasz Chojnacki
    </h1>
    <p class="mb-16 mt-6 inline-block text-2xl text-neutral-600 dark:text-neutral-400">
      I am a software developer.
    </p>
    <nav class="flex items-center justify-center gap-8 lg:justify-start">
      {
        socials.map(({ label, href, icon }) => (
          <a
            {href}
            target="_blank"
            rel="noreferrer"
            title={label}
            aria-label={label}
            class="group inline-block h-8 w-8"
          >
            <SimpleIconSvg
              icon={ICONS[icon as keyof typeof ICONS] as ICONS.SimpleIcon}
              pathClassName="fill-neutral-600 group-hover:fill-neutral-900 dark:fill-neutral-400 dark:group-hover:fill-neutral-100 duration-200"
            />
          </a>
        ))
      }
    </nav>
  </section>
  <section
    class="grid h-full min-h-[75vw] w-full animate-enteronload items-center justify-items-center
      overflow-hidden p-8 grid-in-sphere onenter-fromright motion-reduce:animate-none lg:min-h-full lg:items-end"
  >
    <TechSphere client:load {skillNames} />
  </section>
  <div class="bottom-0 flex h-full w-full flex-col justify-end lg:absolute lg:h-[20vh]">
    <Wave full />
  </div>
</header>
