---
import { IconBrandGithub, IconBrandLinkedin, IconFileCv } from '@tabler/icons-react'

import Wave from '~/components/common/Wave.astro'
import { github, linkedin, resume } from '~/consts/socials'
import { getSkillById } from '~/content'

import SocialLink from './SocialLink.astro'
import TechSphere from './TechSphere'
import WavingEmoji from './WavingEmoji'

const skillIds = [
  'react',
  'typescript',
  'python',
  'rust',
  'astro',
  'nextjs',
  'tailwind-css',
  'postgres',
  'mongodb',
  'docker',
  'nestjs',
  'angular',
  'csharp',
  'java',
  'aws',
  'web-assembly',
  'latex',
]

const skillNames = await Promise.all(skillIds.map(id => getSkillById(id).then(s => s.name)))
---

<header
  class="relative grid min-h-[calc(min(100vh,64rem)-var(--spacing-nav-height))] grid-cols-1 grid-rows-[repeat(3,auto)] place-items-center [grid-template-areas:'text''sphere''.'] lg:grid-cols-[minmax(0,1fr)_repeat(2,minmax(0,48rem))_minmax(0,1fr)] lg:grid-rows-[1fr_repeat(2,10vh)] lg:[grid-template-areas:'._text_sphere_.''._._sphere_.''._._._.']"
>
  <section
    class="motion-safe:animate-enteronload onenter-fromleft place-self-center p-8 text-center [grid-area:text] lg:text-left"
  >
    <p class="text-2xl font-bold">
      Hello&nbsp;<WavingEmoji client:idle />, my name is
    </p>
    <h1 class="text-5xl leading-tight font-bold text-indigo-700 dark:text-indigo-300">
      Tomasz Chojnacki
    </h1>
    <p class="mt-6 mb-12 inline-block text-2xl text-neutral-600 dark:text-neutral-400">
      I am a graduate software engineer.
    </p>
    <nav class="flex items-center justify-center gap-8 lg:justify-start">
      <SocialLink {...github}>
        <IconBrandGithub title={github.label} />
      </SocialLink>
      <SocialLink {...linkedin}>
        <IconBrandLinkedin title={linkedin.label} />
      </SocialLink>
      <SocialLink {...resume}>
        <IconFileCv title={resume.label} />
      </SocialLink>
    </nav>
  </section>
  <section
    class="motion-safe:animate-enteronload onenter-fromright grid h-full min-h-[75vw] w-full items-center justify-items-center overflow-hidden p-8 [grid-area:sphere] lg:min-h-full lg:items-end"
  >
    <TechSphere client:idle {skillNames} />
  </section>
  <div class="bottom-0 flex h-full w-full flex-col justify-end lg:absolute lg:h-[20vh]">
    <Wave full />
  </div>
</header>
